---
import type { CollectionEntry } from "astro:content";
import SocialLink from "@/components/ui/SocialLink.astro";
import Divider from "../Divider.astro";

interface Props {
  author: CollectionEntry<"authors">["data"];
}

const { author } = Astro.props;
---

<article class="flex justify-center gap-10 flex-col lg:flex-row">
  <div
    class="flex justify-center md:min-w-40 bg-white dark:bg-gray-800 p-1 md:rounded-lg shadow-elevation flex-1"
  >
    <img transition:name={author.name} src={author.avatar} alt={author.name} />
  </div>
  <div
    class="flex flex-col bg-white dark:bg-gray-800 p-8 md:rounded-lg flex-[3] border-t-4 border-[#eab308]"
  >
    <h1 class="text-4xl text-gray-900 dark:text-white">
      {author.name}
      {author.alias && `(${author.alias})`}
    </h1>
    <Divider />
    <p
      class="text-justify text-xl w-full pb-4 text-gray-700 dark:text-gray-300"
    >
      {author.bio}
    </p>
    <div class="w-full">
      {
        Object.entries(author.networks).map(([key, value]) => (
          <SocialLink
            name={key}
            url={value}
            icon={`mdi:${key.toLowerCase()}`}
          />
        ))
      }
    </div>
  </div>
</article>

<style>
  @reference "../../../styles/global.css";
  img {
    @apply w-full md:aspect-square object-cover;
  }
</style>
